@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #85BFE6, #CEDFEA);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3B5566;
    /* medidas para o lado, em baixo, borrão e cor */
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #546570;
}

p {
    text-align: justify;
    color: #3B5566;
}